table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #23b25f;
    color: white;
}

tr:hover {
    background-color: #cdf5dd;
}