.canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    /* background-image: url('../images/bg1.png');
    background-size: contain;
    background-repeat: no-repeat; */
    border: 2px solid black;
}
