.events-wrapper {
    background-color: rgba(255, 255, 255, 1);
}
.center-content {
    width: 90em;
    margin: 0 auto;
}
.overflow-video {
    min-width: 1440px;
    background-image: url(../images/video-thumbnail.png);
    background-repeat: no-repeat;
    height: 56.3125em;
    background-position-y: bottom;
}
header {
    height: 170px;
}
.col3-left {
    float: left;
}
.col3-main {
    float: right;
}
.logo-wrapper {
    float: left;
    margin: 71px 0 0 45px;
}
nav {
    float: left;
    margin-top: 100px;
}
.btn-ticket {
    float: right;
    margin-top: 80px;
}
.header-countdown-wrapper {
    margin-top: 50px;
}
.counter {
    display: inline-block;
    margin: 60px 0 0 100px;
    text-align: center;
}
.header-buttons-row {
    margin-top: 77px;
    text-align: center;
}
.play-wrapper {
    margin-top: 90px;
    text-align: center;
}
.overflow-second-row {
    min-width: 1440px;
    background-color: rgba(255, 255, 255, 1);
}
.second-row-wrapper {
    margin-top: -5px;
    height: 639px;
}
.second-btn-wrapper {
    padding: 20px 0 0 0;
}
.overflow-third-row {
    min-width: 1440px;
    height: 438px;
}
.overflow-gradient {
    background-color: red;
    background-image: linear-gradient(135deg, rgba(253,175,25,1), rgba(240,71,74));
}
.fourth-row-wrapper {
    margin-top: -133px;
    background-color: white;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.07);
    position: relative; 
    z-index: 20;    
}
.overflow-fifth-row {
    min-width: 1440px;
    margin-top: -66px;
    height: 170px;
    position: relative;
    z-index: 10;
}
.sixth-row-wrapper {
    margin-top: -60px;
    background-color: white;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.07);
    position: relative; 
    z-index: 20;   
}
.col2-left {
    display: inline-block;
    padding: 0 20px;
}
.col2-main {
    display: inline-block;
}
.eighth-row-wrapper {
    padding-bottom: 125px;
}
.overflow-ninth-row {
    height: 512px;
    min-width: 1440px;
}
.overflow-eleventh-row {
    min-width: 1440px;
    height: 700px;
    background-image: url(../images/map-google.png);
    background-repeat: no-repeat;
}
.overflow-twelveth-row {
    height: 200px;
    min-width: 1440px;
}
.overflow-thirteenth-row {
    min-width: 1440px;
    height: 470px;
    background-color: rgba(28, 29, 29, 1);
}
.overflow-footer {
    min-width: 1440px;
    background-color: rgba(39, 40, 40, 1);
}
